.table {
  :global {
    .ant-pro-query-filter.ant-pro-query-filter {
      padding: 8px 12px !important;
    }

    .ant-pro-query-filter .ant-form-item {
      margin-bottom: 0 !important;
    }

    .ant-pro-card .ant-pro-card-body {
      padding-inline: 12px;
      padding-block: 12px;
    }

    .ant-pro-table-list-toolbar-container {
      padding-block: 12px;
    }

    .ant-table-tbody {
      padding-inline: 32px !important;
    }

    .ant-table-small {
      .ant-table-tbody > tr > td {
        padding-block: 4px !important;
      }

      .ant-table-tbody > tr:first-child > td {
        padding-block: 0 !important;
      }

      .ant-table-thead > tr > th {
        padding-block: 6px !important;
      }
    }
  }
}
