.drawer {
  :global {
    .ant-drawer-title {
      color: #0d1c2e;
      font-weight: 65 Medium;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0px;
    }
    .ant-drawer-close {
      order: 2;
    }
    .ant-drawer-header {
      padding: 17px 10px 13.5px 29px;
      border-bottom: 1px solid #f2f2f2;
    }
    .ant-drawer-footer {
      border-top: 1px solid #f2f2f2;
    }
  }
}
